/* Centering the form */
.bodyp {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content:center;
    align-items: center;
    background-image: url('/Images/logsign.jpg'); 
    background-size: cover;
    background-position: center;
    background-color: rgb(195, 179, 179); 
}

.login-container, .signup-container {
    width: 300px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

h2 {
    text-align: center;
}

form div {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.btn {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.btn:hover {
    background-color: #45a049;
}
